* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

.upperCountingArea {
    position: relative;
    flex-grow: 1;
    border-top: 5px solid #eee;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.upperCountingArea .video-thumb {
    position: relative;
    margin: 1rem 0rem;
}

.upperCountingArea .box {
    border: 1px solid #ddd;
    box-shadow: 2px 4px 8px #ddd;
    padding: 1.25rem;
}

.upperCountingArea .video-thumb .operationlogo {
    max-width: 100%;
    height: 250px !important;
}

.upperCountingArea .box .playButtonLogo {
    position: absolute;
    width: 40px;
    height: auto;
    bottom: 40px;
    right: 30px;
}

.upperCountingArea .moduleTitle {
    margin-bottom: 0rem;
    font-size: 1.3rem;
    font-size: 600;
    color: var(--black);
    line-height: 1.8rem;
}

.upperCountingArea .moduleTitle .moduleNumber {
    top: -1.375rem;
    position: absolute;
    left: -0.5rem;
    background: var(--white);
    display: inline-block;
    padding: 0.3125rem;
    font-size: 2rem;
}

.upperCountingArea .moduleTitle .areaIntro {
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
}

.upperCountingArea .moduleTitle .areaIntro:hover {
    color: var(--blue);
    font-weight: 600;
}

.upperCountingArea .chapterCount {
    color: var(--grey);
    font-weight: 500;
    margin: 0.3125rem 0rem 0.625rem 0rem;
    font-size: 0.9rem;
}

.upperCountingArea .discription {
    color: var(--grey);
    font-weight: 500;
    font-size: 0.9rem;
}

.upperCountingArea .modulesOpts {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.9rem;
}

.upperCountingArea .modulesOpts .innerModuleCont {
    font-size: 0.9rem;
    color: var(--blue);
    font-weight: 500;
    text-decoration: none;
}

.upperCountingArea .modulesOpts .trashData {
    color: var(--red);
    font-weight: 600;
}

.upperCountingArea .modulesOpts .innerModuleCont:hover {
    color: var(--black);
    font-weight: 500;
}
.cardHomePageStyle {
    width: 25% !important;
}
.cardHomePageStyle .upperCountingArea {
    border-top: none;
}
.cardHomePageStyle .innerModuleCont {
    margin-top: 10px;
    font-size: 13px !important;
}
.cardHomePageStyle .areaIntro {
    font-size: 15px;
}
.cardHomePageStyle .video-thumb {
    padding: 0 !important;
}
@media screen and (max-width: 991px) {
    .cardHomePageStyle {
        width: 100% !important;
    }
}