:root {
    --red: #Ff0000;
    --white: #ffffff;
    --black: #000;
    --grey: #abb8c3;
    --blue: #1669C9;
    --green: #69c969;
    --yellow: #EACF32;
    --orange: #FFB05A;
    --violet: #B5B2EA;
}